body {
    background-color: white;
}

.pIndu {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
}

.contenedorImagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.imagen-item {
    text-align: center;
    width: 210px;
}

.imagen-item img {
    width: 210px;
    height: 210px;
}
